<?php
/**
 * Author: Kyle Ossinger
 * Date: 2/9/14
 * Time: 11:37 AM
 */
session_start();
if(!isset($_SESSION['key']) && $_SERVER['PHP_SELF'] != '/index.php')
    header('Location: index.php');
else if(isset($_SESSION['key']) && $_SERVER['PHP_SELF'] == '/index.php')
    header('Location: map.php');

$cfg['dbhost'] = "localhost";
$cfg['dbname'] = "neighborly";
$cfg['dbuser'] = "neighborly";
$cfg['dbpass'] = "password";

?>