<?php
/**
 * Author: Kyle Ossinger
 * Date: 2/9/14
 * Time: 11:37 AM
 */
session_start();
include_once("./include/shodan4php.php");
$db['host'] = "localhost";
$db['schm'] = "neighborly";
$db['user'] = "neighborly";
$db['pass'] = "password";

if(!isset($_SESSION['key'])){
    if($_SERVER['PHP_SELF'] != '/index.php')
        header('Location: index.php');
}
else
{
    $shodan = new shodan4php($_SESSION['key']);
    if($_SERVER['PHP_SELF'] == '/index.php')
        header('Location: map.php');
}


?>